/* ---- Página ---- */
body {
    font-family: 'Righteous', cursive;
    width: 100vw;
    background-color: #CBCBCB;
}

* {
    box-sizing: border-box;
}

/* ---- Celular ---- */

@media (max-width : 414px) {
    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 92px;
        background-color: #CF2B2B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 2;
    }

    header h1 {
        font-size: 44px;
        margin-left: 21px;
        margin-top: 8px;
        color: #ffffff;
    }

    header p {
        margin-left: 21px;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
    }

    /* ---- Conteudo ---- */

    main {
        width: 414px;
        height: 100%;
        margin-top: 123px;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        margin-top: 31px;
        width: 414px;
        height: 100%;
        overflow-x: scroll;

    }

    main h2, h3, h4 {
        margin-top: 27px;
        margin-left: 16px;
        font-family: 'Righteous', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.018em;
        color: #333333;

    }

    .cardapio {
        width: 564px;
        height: 216px;
        margin-left: 16px;
        display: flex;
        align-items: center;
    }

    .caixa-prato {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        width: 172px;
        height: 216px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
    }

    .prato {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 172px;
        height: 216px;
        padding: top 0px;

    }

    .bebida {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 172px;
        height: 216px;
        padding: top 0px;

    }

    .sobremesa {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 172px;
        height: 216px;
        padding: top 0px;

    }


    section button {
        width: 172px;
        height: 216px;
        background-color: #ffffff;
        border: none;
    }

    .prato p {
        width: 139px;
        height: 23px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;

        color: #A6A6A6;

    }

    .bebida p {
        width: 139px;
        height: 23px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;

        color: #A6A6A6;

    }

    .sobremesa p {
        width: 139px;
        height: 23px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;

        color: #A6A6A6;

    }

    .prato img {
        width: 144px;
        height: 87px;
        border-radius: 4px;
    }

    .bebida img {
        width: 144px;
        height: 87px;
        border-radius: 4px;
    }

    .sobremesa img {
        width: 144px;
        height: 87px;
        border-radius: 4px;
    }

    .Titulo-prato {
        width: 139px;
        height: 23px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
    }

    .preco{
        width: 139px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
    }

    /* ---- Footer ---- */

    footer {
        width: 414px;
        height: 92px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        bottom: 0;
        left: 0;

        background: #FFFFFF;
    }

    footer button {
        width: 364px;
        height: 61px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.018em;

        color: #FFFFFF;
    }

    .finalizar {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #CBCBCB;
        border: 1px solid #CBCBCB;
        border-radius: 50px;
    }

    /* ---- ScrollBar ---- */
    /* Chrome, Edge , Safari e amigos */
    ::-webkit-scrollbar {
        width: 0;
    }

    /* Selecionar */

    .selecionadoPrato {
        background: #FFFFFF;
        width: 172px;
        height: 216px;
        border: 0px;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
        border-radius: 9px;
    }

    .selecionadoBebida {
        background: #FFFFFF;
        width: 172px;
        height: 216px;
        border: 0px;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
        border-radius: 9px;
    }

    .selecionadoSobremesa {
        background: #FFFFFF;
        width: 172px;
        height: 216px;
        border: 0px;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
        border-radius: 9px;
    }

    .selecionadoBotao {
        background-color: #32B72F;
        font-weight: 700;
    }
}